@import "./variables.scss";
.board {
  display: grid;
  grid-template-columns: repeat(9, $celldimension);
  grid-template-rows: repeat(9, $celldimension);
  width: fit-content;
  border: 2px solid black;
}
