.wrapper {
  border: 1px solid white;
  height: 250px;
  overflow: auto;
  h3 {
    border-bottom: 2px solid rgb(180, 180, 180);
    color: white;
    margin: 5px;
    padding: 8px;
  }

  > div {
    margin: 5px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid grey;
    color: white;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
  }
  .nousers {
    background-color: black;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(129, 127, 127);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
