.wrapper {
  border: 1px solid white;
  height: 250px;
  overflow: auto;
  h3 {
    border-bottom: 2px solid rgb(180, 180, 180);
    color: white;
    margin: 5px;
    padding: 8px;
  }

  .oneplayer {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
  }
  .names {
    width: fit-content;
  }
  .barwrapper {
    position: relative;
    height: 20px;
    width: 200px;
    border: 1px solid rgb(48, 48, 48);
    .innerbar {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      z-index: 10;
    }
  }

  .nousers {
    background-color: black;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(129, 127, 127);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
